---
import Layout from "../layouts/MainLayout.astro";
import Servicios from "../components/Services.astro";
---

<Layout title="Servicios" description="Lorem ipsum dolor sit amet">
    <div>
        <section
            class="bg-center bg-no-repeat h-[400px] relative" style="background: linear-gradient(90deg, rgba(60,68,163,0.4) 10%, rgba(60,68,163,0) 100%),  url(/images/urgencias-2.webp); background-position: center; background-size:cover;"
        >
            <div class="flex items-end h-full max-w-screen-xl mx-auto text-left z-20">
                <div class="px-4 sm:px-6 lg:px-8">
                    <h1 class="text-3xl font-extrabold sm:text-5xl mb-10 max-w-[700px] text-white z-30">
                        NUESTROS SERVICIOS
                    </h1>
                </div>
            </div>
        </section>
    </div>

    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <!-- Servicio-->
        <section id="servicio">
            <div
                class="container mx-auto flex py-24 md:flex-row flex-col items-center"
            >
                <div
                    class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
                >
                    <h1
                        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
                    >
                        Servicios Médicos
                    </h1>
                    <p class="mb-8 leading-relaxed">
                        Bienvenido a la Clínica Rentería, donde tu bienestar es nuestra prioridad. Nuestra amplia gama de servicios médicos está diseñada para brindarte atención integral y de calidad en un entorno de confianza y comodidad. Nuestro equipo de profesionales altamente capacitados y dedicados está aquí para cuidar de ti y de tus seres queridos en cada paso del camino.
                    </p>
                </div>
                <div class="lg:max-w-lg lg:w-full md:w-1/2 w-full">
                    <img
                        class="object-cover object-center rounded-xl"
                        alt="Clínica Rentería"
                        src="/images/medicina-general.webp"
                    />
                </div>
            </div>

            <Servicios hiddenTitle />


            
        </section>

        <!-- LISTA DE SUB SERVICIOS -->

        <!-- IMAGENES HOSPITAL -->
    </div>
</Layout>
