---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<section class=" body-font relative   mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8" id="contacto">
    <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap gap-10">

        <div class="lg:w-1/3 md:w-1/2 flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
            <h2 class="text-gray-900 mb-1 font-semibold text-3xl"> {t('contact.title')}</h2>
            <p>{t('contact.subtitle')} </p>
            <div class="relative mb-4">
                <label for="name" class="leading-7 text-sm text-gray-600">{t('contact.name')}</label>
                <input type="text" id="name" name="name" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
                <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
                <label for="message" class="leading-7 text-sm text-gray-600">{t('contact.message')}</label>
                <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
            </div>
            <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">{t('contact.button')}</button>
            <p class="text-xs text-gray-500 mt-3">{t('contact.text')}</p>
        </div>

        <div class="lg:w-2/3 md:w-1/2 rounded-lg overflow-hidden p-10 flex items-end justify-start relative">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14895.24763647124!2d-105.2476972!3d21.0402107!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842125b8c971ebff%3A0x2e806eef487e8453!2sClinica%20Renteria!5e0!3m2!1ses-419!2smx!4v1691772985413!5m2!1ses-419!2smx" width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no"></iframe>
                <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
                <div class="lg:w-1/2 px-6">
                    <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs uppercase">{t('contact.address')}</h2>
                    <p class="mt-1">Bahía de Acapulco Nte. 8, Centro, 63720 La Peñita de Jaltemba, Nayarit.</p>
                </div>
                <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
                    <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">EMAIL</h2>
                    <a class="text-indigo-500 leading-relaxed">clinicarenteria@gmail.com</a>
                    <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4 uppercase">{t('footer.phone')}</h2>
                    <p class="leading-relaxed">(327) 274-0140</p>
                </div>
            </div>
        </div>

    </div>
</section>