---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<section class="text-white">
    <h1 class="text-4xl text-gray-900 font-bold md:text-[42px] "> {t('team.title')} </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center gap-10 flex-wrap my-6">
        <div class="py-8 px-5 text-center bg-[#3c44a3] rounded-lg">
            <img class="w-40 h-40 rounded-full object-cover object-center mx-auto" src="/images/Dr-Jorge-Agustín-Sánchez-Montes.webp" alt="">
            <h2 class="text-[28px] font-medium mb-[7px]">Dr. Jorge Agustín Sánchez Montes</h2>
            <p class="font-normal uppercase">{t('team.general')}</p>
        </div>
        <div class="py-8 px-5 text-center bg-[#3c44a3] rounded-lg">
            <img class="w-40 h-40 rounded-full object-cover object-center mx-auto" src="/images/Brayan-Camacho-Hernández.webp" alt="">
            <h2 class="text-[28px] font-medium mb-[7px]">Brayan Camacho Hernández</h2>
            <p class="font-normal uppercase">{t('team.quimico')}</p>
        </div>
        <div class=" py-8 px-5 text-center bg-[#3c44a3] rounded-lg">
            <img class="w-40 h-40 rounded-full object-cover object-center mx-auto" src="/images/Juan-Sergio-Parra.webp" alt="">
            <h2 class="text-[28px] font-medium mb-[7px]">Juan Sergio Parra</h2>
            <p class="font-normal uppercase">{t('team.radiologo')}</p>
        </div>
        <div class=" py-8 px-5 text-center bg-[#3c44a3] rounded-lg">
            <img class="w-40 h-40 rounded-full object-cover object-center mx-auto" src="/images/Dr-Edgar-Raul-Renteria-Guzmán.webp" alt="">
            <h2 class="text-[28px] font-medium mb-[7px]">Dr. Edgar Raúl Rentería Guzmán</h2>
            <p class="font-normal uppercase">{t('team.ultra')}</p>
        </div>
        <div class=" py-8 px-5 text-center bg-[#3c44a3] rounded-lg">
            <img class="w-40 h-40 rounded-full object-cover object-center mx-auto" src="/images/Dr-Luis-Vicente-gomez-bañuelos.webp" alt="">
            <h2 class="text-[28px] font-medium mb-[7px]">Dr. Luis Vicente Gómez Bañuelos</h2>
            <p class="font-normal uppercase">{t('team.intensivo')}</p>
        </div>
    </div>
</section>