---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const today = new Date();
---
<div class="bg-teal-50 border-t-[2px] border-[#3c44a3] ">
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 max-w-screen-xl mx-auto py-10 px-4 gap-10">
		<div>
			<h3 class="mb-5 text-2xl font-semibold">Clinica Renteria</h3>
			<div class="flex gap-2 flex-col text-[17px]">
				<p>{t('footer.renteria')}</p>
			</div>
		</div>
		<div>
			<h3 class="mb-5 text-2xl font-semibold"> {t('footer.emergency')}  </h3>
			<div class="flex gap-2 flex-col text-[17px]">
				<p> {t('footer.contact')} </p>
				<p><strong>{t('nav.emergency')}:</strong> <a href="tel:327274014">(327) 274-0140</a></p>
				<p><strong>{t('footer.phone')}:</strong> <a href="tel:327274014">(327) 274-0140</a></p>
				<p><strong>WhatsApp:</strong> <a href="https://wa.me/5213223074119" target="_blank">(322) 307-4119</a></p>
			</div>
		</div>	
		<div>
			<h3 class="mb-5 text-2xl font-semibold">{t('footer.services')}</h3>
			<div class="flex gap-2 flex-col text-[17px]">
				<a href={t('link.services')}>{t('footer.xrays')}</a>
				<a href={t('link.services')}>{t('footer.ultrasound')}</a>
				<a href={t('link.services')}>{t('footer.emergency')}</a>
				<a href={t('link.services')}>{t('footer.laboratory')}</a>
				<a href={t('link.services')}>{t('footer.nursing')}</a>
				<a href={t('link.services')}>{t('footer.medicine')}</a>
				<a href={t('link.services')}>{t('footer.ambulance')}</a>
			</div>
		</div>	
		<div>
			<h3 class="mb-5 text-2xl font-semibold">Sitemap</h3>
			<div class="flex gap-2 flex-col text-[17px]">
				<a href={t('link.home')}>{t('nav.home')}</a>
				<a href={t('link.about')}>{t('nav.about')}</a>
				<a href={t('link.services')}>{t('nav.services')}</a>
				<a href="#contacto">{t('nav.contact')}</a>

			</div>
		</div>			
	</div>
</div>

<div class="bg-[#3c44a3]">
    <div class="mx-auto max-w-screen-xl px-4 py-1 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between flex-col py-4 md:py-0 md:flex-row gap-3">
            <div class="flex justify-center text-teal-600 sm:justify-start">
                <img class="h-7" src="/images/logo-renteria.webp" alt="Logo Clinica Renteria">
            </div>
            <p class=" text-center text-sm text-white lg:text-right pb-0">
                Clinica Renteria &copy; 2023. {t('footer.developed')} CoeurMkt.
            </p>
        </div>
    </div>
</div>
