---
const today = new Date();
---
<div class="bg-teal-50 border-t-[2px] border-[#3c44a3] ">
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 max-w-screen-xl mx-auto py-10 px-4 gap-10">
		<div>
			<h3 class="mb-5 text-2xl font-semibold">Clinica Renteria</h3>
			<div class="flex gap-2 flex-col text-[17px]">
				<p>Somos una clínica ubicada en La Peñita, Nayarit. Con más de 30 años de experiencia en el ramo de la salud. Uno de nuestros pilares es el servicio, pues  para nosotros es prioridad ofrecerte siempre calidad humana en cada consulta.</p>
			</div>
		</div>
		<div>
			<h3 class="mb-5 text-2xl font-semibold">¿Tienes una emergencia?</h3>
			<div class="flex gap-2 flex-col text-[17px]">
				<p>Ponte en contacto con nosotros, te contestaremos a la brevedad posible.</p>
				<p><strong>Emergencias:</strong> (327) 274-0140</p>
				<p><strong>Teléfono:</strong> (327) 274-0140</p>
				<p><strong>WhatsApp:</strong> 3221234567</p>
			</div>
		</div>	
		<div>
			<h3 class="mb-5 text-2xl font-semibold">Nuestros Servicios</h3>
			<div class="flex gap-2 flex-col text-[17px]">
				<a href="#">Rayos X</a>
				<a href="#">Ultrasonido</a>
				<a href="#">Urgencias 24/7</a>
				<a href="#">Laboratorio 24/7</a>
				<a href="#">Enfermería</a>
				<a href="#">Medicina General, Traumatología, Ginecología y Dermatología.</a>
				<a href="#">Ambulancia</a>
			</div>
		</div>	
		<div>
			<h3 class="mb-5 text-2xl font-semibold">Sitemap</h3>
			<div class="flex gap-2 flex-col text-[17px]">
				<a href="#">Inicio</a>
				<a href="#">Nosotros</a>
				<a href="#">Servicios</a>
				<a href="#">Contacto</a>

			</div>
		</div>			
	</div>
</div>

<div class="bg-[#3c44a3]">
    <div class="mx-auto max-w-screen-xl px-4 py-1 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex justify-center text-teal-600 sm:justify-start">
                <img class="h-7" src="images/logo-renteria.webp" alt="Logo Clinica Renteria">
            </div>
            <p class="mt-4 text-center text-sm text-white lg:mt-0 lg:text-right">
                Clinica Renteria &copy; 2023. Desarrollado por CoeurMkt.
            </p>
        </div>
    </div>
</div>
