---
import { getCollection } from 'astro:content';
import { getLangFromUrl } from '../i18n/utils';
import SliderBlogs from './react/SliderBlogs'

const lang = getLangFromUrl(Astro.url);

const posts = lang === "en" ? (await getCollection('blogEn')) : (await getCollection('blogEs'));

---
<div>
    <h2 class="text-4xl mb-5">{lang === "en" ? "Our Last News" : "Nuestras ultimas noticias"}</h2>
    <SliderBlogs  client:load posts={posts} lang={lang} />
</div>
